*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0f172a;
padding:20px;
color:white;
}

.container{
max-width:700px;
margin:auto;
}

h1{
text-align:center;
margin-bottom:20px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:15px;
box-shadow:0 0 15px rgba(0,0,0,.4);
}

input,
select,
textarea{
width:100%;
padding:12px;
margin-top:10px;
margin-bottom:15px;
border:none;
border-radius:10px;
font-size:16px;
background:#334155;
color:white;
}

textarea{
height:90px;
resize:none;
}

button{
width:100%;
padding:15px;
background:#16a34a;
color:white;
font-size:18px;
border:none;
border-radius:10px;
cursor:pointer;
}

button:hover{
background:#15803d;
}

h2{
margin-top:30px;
margin-bottom:15px;
}

.trade{
background:#1e293b;
padding:15px;
border-radius:12px;
margin-bottom:15px;
line-height:1.8;
border-left:5px solid #22c55e;
}

.trade img{
width:100%;
margin-top:10px;
border-radius:10px;
}

.deleteBtn{
background:#dc2626;
margin-top:10px;
}

.deleteBtn:hover{
background:#b91c1c;
}.dashboard{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:10px;
margin-bottom:20px;
}

.box{
background:#1e293b;
padding:15px;
border-radius:12px;
text-align:center;
}

.box h3{
font-size:15px;
margin-bottom:10px;
color:#94a3b8;
}

.box h2{
font-size:24px;
color:#22c55e;
}